.sombras {
  box-shadow: 0 10px 30px -10px rgb(0, 0, 0);
}

.nav__color {
  /*background-color: rgb(45, 111, 65);*/
  background: #0c8318;
}

.title_size {
  font-size: 5rem;
  text-align: center;
}

.txt_size {
  font-size: 170%;
}

.txt__size2 {
  font-size: 5rem;
}

li a {
  border-radius: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  /*text-transform: uppercase;*/
  color: white;|
}

.color__txt {
  color: white;
}

.color__card {
  background-color: #01560a; 
  color: white
}

h2 {
  color: white;
}

h1{
    font-family: 'Mukta', sans-serif;
}

.footer__intro {
  color: white;
}

.footer__icons {
  text-align: center;
  padding: 1.5rem 0;
  color: white;
  
}
.foot_icon--asp{
  color: white;
  
}

.flex_linea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label{
  font-size:x-large;
}

.img_size{
  width: 700px;
  height: 400px;
}

@media (max-width:810px) {
    iframe{
        width: 300px;
    }

}

@media (min-width:800px){
  h1{
    font-size: 100px;
  }
  h3{
    font-size: 50px;
   }

}


